version: '3'

services:
  populartimes_api:
    restart: always
    build: ./PopularTimesService
    expose:
      - "5001"
    ports:
      - "5001:5001"
    volumes:
      - assets:/usr/src/app/static
    env_file: .env
    command: /usr/local/bin/gunicorn -w 4 --bind :5001 PopularTimesService:app

  proxy:
    restart: always
    build: ./proxy
    expose:
      - "80"
    ports:
      - "80:80"
    volumes:
      - assets
    links:
      - populartimes_api:populartimes_api
      
volumes:
  assets:
